<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <shipping>
            <batch_processing>
                <shipping_label>
                    <interactive_massaction_enabled>0</interactive_massaction_enabled>
                </shipping_label>
            </batch_processing>
        </shipping>
    </default>
</config>
